video {
	display: none;
	width: 640px;
	height: 480px;
	transform: scaleX(-1); /* flip video, like a mirror */
}

html, body {
	background: black;
	height: 100%;
	margin: 0;
}

h1 {
	color: white;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}